*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    
    /* justify-content: ; */
}

.logoimg{
    width: 90vw;
    height: 100px;
    text-align: center;
    /* background-color: wheat; */
}

.head{
    width: 90vw;
    height: 100px;
    margin-top: 20px;
    /* background-color: red; */
    color: white;
    font-family: 'MONSERRATE';
    font-size: 60px;
    text-align: center;
}
.accessdiv{
    width: 60vw;
    height: 160px;
    margin-left: 200px;
    margin-top: 100px;
    left: 50%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}



.accessdiv :hover{
    transform: scale(1.2);
}

.ac{
    width: 15vw;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}


.ac h4{
    background-color: rgba(15, 14, 14, 0.753);
    color: aliceblue;
    text-align: center;
    width: 100%;
}

#user{
    background-image: url(https://media.giphy.com/media/9X6OGGZ2SNyQ8/giphy.gif);
    background-position: center;
    background-size:cover;
}

#child{
    
    background-image: url(https://th.bing.com/th/id/R.0bcc909cd8e19ca725a612d7d02c2bc2?rik=UWKBHKNEEVMIbg&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fyio%2f6dj%2fyio6djrBT.gif&ehk=YUj%2fmvb8O%2fDtFxjwZwq2VJgnVeMZE0T%2fy4UNdXuJEyQ%3d&risl=&pid=ImgRaw&r=0);
    background-position: center;
    background-size: cover;
    
}

#admin{
    
    background-image: url(https://media.giphy.com/media/SFCILQXHw0qly/giphy.gif);
    background-position: center;
    background-size: cover;
    
}


